/*==============================================================================
 *  Title      : Main style file
 *  Author     : Digger (c) SAD-Systems <http://sad-systems.ru>
 *  Created on : 01.04.2015
 *==============================================================================
 */
* {
  padding: 0;
  margin: 0;
  font-family: "Regular", sans-serif;
  color: #e0e0e0; }

html, body {
  height: 100%; }

body {
  background-color: transparent;
  background-image: url("../media/img/body2.jpg");
  -ms-behavior: url("css/polyfills/backgroundsize.min.htc");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -khtml-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

h1, h2, h3, h4, h5, h6 {
  color: #fff; }

a {
  color: #56d4c7;
  transition: color 0.5s ease; }
  a:hover {
    color: #d0f3ef; }

header {
  background-color: transparent;
  background-image: url("../media/img/bg/bgb50p.png");
  -webkit-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75);
  -khtml-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75);
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100; }

footer {
  background-color: transparent;
  background-image: url("../media/img/bg/bgb50p.png");
  -webkit-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75);
  -khtml-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75);
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 100;
  color: #56d4c7; }

.copyright {
  padding: 1em;
  padding-left: 7%;
  display: block;
  float: left;
  clear: left;
  text-align: left;
  -moz-opacity: 0.25;
  -khtml-opacity: 0.25;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
  opacity: 0.25; }

.page {
  background-color: transparent;
  background-image: url("../media/img/bg/bgb50p.png");
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75);
  -khtml-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 6em;
  left: 7%;
  right: 7%;
  bottom: 6em;
  padding: 5%;
  overflow: auto; }
  .page img {
    display: block;
    width: 30%;
    min-width: 64px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
    -khtml-box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75);
    float: left;
    clear: left;
    margin-right: 2%;
    margin-bottom: 2%; }
    .page img.right {
      float: right;
      clear: right;
      margin-left: 2%;
      margin-bottom: 2%; }
  .page .align-right {
    text-align: right; }
  .page img + div {
    width: 68%;
    margin-right: 0;
    margin-left: 32%; }
  .page img + div.right {
    margin-left: 0;
    margin-right: 32%; }
  .page h2 {
    margin-bottom: 2%; }
  .page p {
    margin-bottom: 2%; }
  .page .media-list {
    display: table;
    width: 100%; }
  .page .media-list > div {
    display: table-row; }

header nav > ul {
  border-top: 6px solid #56d4c7; }

nav {
  text-align: right; }
  nav ul {
    list-style-type: none;
    padding: 0 7%; }
    nav ul li {
      display: inline-block;
      padding: 1em 0.5em; }
    nav ul li.active {
      background-color: transparent;
      background-image: url("../media/img/bg/bgw15p.png"); }
      nav ul li.active a {
        color: #fff; }
  nav a {
    color: #56d4c7;
    text-decoration: none;
    transition: color 0.5s ease; }
    nav a:hover {
      color: #d0f3ef; }

.logo {
  display: block;
  width: 140px;
  float: left;
  clear: left;
  margin-top: 1em;
  margin-left: 7%;
  text-align: left; }

.loader {
  margin-left: 1em;
  height: 30px; }
