# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor/*
# do not ignore digger-lib (comment this if you do not use digger-lib)
!/vendor/digger

# composer itself is not needed
composer.phar

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

