/*==============================================================================
 *  Title      : Main style file
 *  Author     : Digger (c) SAD-Systems <http://sad-systems.ru>
 *  Created on : 01.04.2015
 *==============================================================================
 */

@import "basic";                 //--- Digger basic mixins
//@import "bootstrap/normalize"; //--- Reset
//@import "fonts";               //--- Fonts

//------------------------------------------------------------------------------
// Main definitions
//------------------------------------------------------------------------------

//--- banners:
$img_banner: url("../media/img/body2.jpg");
//--- transparent black:
$img_black_15: url("../media/img/bg/bgb15p.png");
$img_black_25: url("../media/img/bg/bgb25p.png");
$img_black_50: url("../media/img/bg/bgb50p.png");
$img_black_75: url("../media/img/bg/bgb75p.png");
//--- patterns:
$img_ptblack_15: url("../media/img/bg/ptb15p.png");
$img_ptblack_50: url("../media/img/bg/ptb50p.png");
$img_ptblack_75: url("../media/img/bg/ptb75p.png");
$img_ptblack_90: url("../media/img/bg/ptb90p.png");
//--- transparent white:
$img_white_15: url("../media/img/bg/bgw15p.png");
$img_white_25: url("../media/img/bg/bgw25p.png");
$img_white_50: url("../media/img/bg/bgw50p.png");
$img_white_75: url("../media/img/bg/bgw75p.png");
$img_white_90: url("../media/img/bg/bgw90p.png");


//--- fonts:

//@include font-face("Regular", "../fonts/augusta/augusta_two", ('ttf'));
//@include font-face("Regular", "../fonts/digital/micradi", ('ttf'));

$font_header:  "Regular", sans-serif;
$font_title:   "Regular", sans-serif;
$font_regular: "Regular", sans-serif;

//--- colors:
$c_theme: #56d4c7;
$c_header: #fff;
$c_text:   darken($c_header, 12%);

//--- text:
$c_link:       $c_theme;
$c_link_hover: lighten($c_theme, 30%);
$c_footer: $c_theme;

$c_nav_link:        $c_theme;
$c_nav_link_hover:  lighten($c_theme, 30%);
$c_nav_link_active: $c_header;

//--- images:
$img_body:      $img_banner;
$img_bg_header: $img_black_50;
$img_bg_footer: $img_black_50;
$img_bg_page:   $img_black_50;
$img_bg_nav_active: $img_white_15;

//------------------------------------------------------------------------------
// Common styles
//------------------------------------------------------------------------------



//------------------------------------------------------------------------------
// Device dependent styles
//------------------------------------------------------------------------------
* {
    padding: 0;
    margin: 0;
    font-family: $font_regular;
    color: $c_text;
}

html, body {
    height: 100%;
    //font-size: 14px;
    //font-size: 16px;
    //font-size: 20px; 
}

body {
    background-color: transparent;
    background-image: $img_body;
    @include background-size(cover);
}

h1, h2, h3, h4, h5, h6 {
    color: $c_header;
}

a { 
    color: $c_link; 
    transition: color 0.5s ease;
    &:hover {
        color: $c_link_hover;
    }
}

header {
    background-color: transparent;
    background-image: $img_bg_header;
    //@include box-shadow(0px 0px 15px rgba(0,0,0, 0.75));
    @include box-shadow(0px 0px 5px rgba(255,255,255, 0.75));
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}

footer {
    background-color: transparent;
    background-image: $img_bg_footer;
    //@include box-shadow(0px 0px 15px rgba(0,0,0, 0.75));
    @include box-shadow(0px 0px 5px rgba(255,255,255, 0.75));
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 100;
    color: $c_footer;
}
.copyright {
    padding: 1em;
    padding-left: 7%;
    display: block;
    //width: 200px;
    float: left;
    clear: left;
    text-align: left;
    //color: darken($c_text, 30%);
    @include opacity(25);
}

.page {
    background-color: transparent;
    background-image: $img_bg_page;
    @include border-radius(7px);
    @include box-shadow(0px 0px 5px rgba(255,255,255, 0.75));
    position: absolute;
    top:    6em;
    left:   7%;
    right:  7%;
    bottom: 6em;
    padding: 5%;
    overflow: auto;

    img {
        display: block;
        width: 30%;
        min-width: 64px;
        @include border-radius(7px);
        @include box-shadow(0px 0px 3px rgba(255,255,255, 0.75));
    //--- Left (by default):
        float: left;
        clear: left;
        margin-right: 2%;
        margin-bottom: 2%;
    //--- Right:
        &.right {
            float: right;
            clear: right;
            margin-left: 2%;
            margin-bottom: 2%;
        }
    }

    .align-right {
        text-align: right;
    }

    img + div {
        width: 68%;
        margin-right: 0;
        margin-left: 30% + 2%;
    }

    img + div.right {
        margin-left: 0;
        margin-right: 30% + 2%;
    }
    
    h2 {
        margin-bottom: 2%;
    }

    p {
        margin-bottom: 2%;
    }
    
    .media-list {
        display:table; width:100%
    }
    .media-list > div {
        display: table-row
    }
}
//--- Navigation

header nav > ul {
        border-top: 6px solid $c_theme;
} 

nav {
    text-align: right;
    ul {
        list-style-type: none;
        padding: 0 7%; //1em;
        li {
            display: inline-block;
            padding: 1em 0.5em;
        }
        li.active {
            background-color: transparent;
            background-image: $img_bg_nav_active;
            a {
                color: $c_nav_link_active;
            }
        }
    }
    a {
        color: $c_nav_link;
        text-decoration: none;
        transition: color 0.5s ease;
        &:hover {
            color: $c_nav_link_hover;
        }
    }
}

.logo {
    display: block;
    width: 90px + 50px;
    float: left;
    clear: left;
    margin-top: 1em;
    margin-left: 7%;
    text-align: left;
}

.loader {
    margin-left: 1em;
    height: 30px
}


//=== Large screen / wide desktop (lg) =========================================
@media screen and (min-width: 1200px) {

}

//=== Medium screen / desktop (md) =============================================
@media screen and (min-width: 992px) {
    
}

//=== Small screen / tablet (sm) ===============================================
@media screen and (max-width: 768px) {
    
}

//=== SMALL TABLET =============================================================
@media screen and (max-width: 640px) {
    
}

//=== Extra small screen / phone (sx) ==========================================
@media screen and (max-width: 480px) {
    
}
    